@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: 'Red Hat Display', sans-serif;
    margin: auto;
}

body {
    margin: 0;
    width: 100%;
    background-image: url('images/backgr.png');
    background-repeat:repeat;
}

p {
    font-size: 16px;
}

.center-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
  }

.background {
    background-image: url('images/pattern-background-desktop.svg');
    background-repeat: no-repeat;
    background-color: hsl(225, 100%, 94%);
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 5px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

@media all and (max-width: 375px) {
    .background {
        background-image: url('images/pattern-background-mobile.svg')
    }
}


.container {
    max-width: 350px;
    width: 100%;
    background-color: #fff;
    text-align: center;
    margin: 0px auto;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.title {
    margin: 20px 50px;
}

.title p:nth-child(1) {
    font-weight: 900;
    font-size: 1.25rem;
    color: hsl(223, 47%, 23%);
}

.title p:nth-child(2) {
    font-weight: 500;
    font-size: 0.9rem;
    color: hsl(224, 23%, 55%);
    line-height: 1.75;
}

.hero img {
    width: 100%;
}

.mini-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 40px;
    background-color: hsl(225, 100%, 98%);
    padding: 0 15px;
    border-radius: 15px;
}

.mini-container p {
    font-size: 0.9rem;
}

.mini-container p:nth-child(1) {
    font-weight: 700;
    color: hsl(223, 47%, 23%);
    margin-bottom: 0;
}

.mini-container p:nth-child(2) {
    color: hsl(224, 23%, 55%);
    margin-top: 0;
}

.mini-container a {
    color: hsl(245, 75%, 52%);
    text-decoration: underline;
    font-size: 0.9rem;
    font-weight: 700;
}

.mini-container a:visited {
    color: hsl(245, 75%, 52%);
    text-decoration: underline;
}

.mini-container a:hover {
    color: hsl(223, 47%, 23%);
}

.test {
    display: flex;
    align-items: center;
    justify-content: center;
}

.test img {
    margin-right: 10px;
}

.proceed {
    background-color: hsl(245, 75%, 52%);
    color: #fff;
    border-radius: 10px;
    padding: 15px 50px;
    display: block;
    margin: 20px 40px;
    text-decoration: none;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-weight: 700;
}

.proceed:hover {
    background-color: hsl(246, 100%, 70%);
}

.cancel {
    display: inline-block;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
    margin: 0 0 30px 0;
    color: hsl(224, 23%, 55%);
}

.cancel:hover {
    color: hsl(223, 47%, 23%);
}

/*footer credits*/
.attribution { font-size: 11px; text-align: center; margin: 10px; padding-top: 35px; }
.attribution a { color: hsl(228, 45%, 44%); }